* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Helvetica, sans-serif;
}

/*HEADER STUFF */

header {
    width: 100%;
    height: 5rem;
    background-color: #212121;
    color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;  /* Kolla om vi kan hitta en mer matchie font */
}

header h1 {
    padding-top: 1.25rem;
    padding-left: 2rem;
    font-size: 2.5rem;
}

header a:visited {
    color: white;
}

header a {
    text-decoration: none;
}

.rightContent {
    display: flex;
    padding-top: 1.25rem;
    padding-right: 2rem;
    font-size: 2.5rem;
}

.rightContent p {
    padding-right: 1rem;
}

/* MAIN CSS */

main {
    width: 100%;
    display: flex;
    /*justify-content: center;
    align-items: center;*/

}

.productContainer {
    display: flex;
    padding: 5rem;

   
    /*justify-content: center;
    align-items: center;*/
}

.productContainer div {
    display: flex;
    flex-direction: column; 
    align-items: center;
    white-space: nowrap;
    padding: 0.5rem;
    margin: 2rem;
    border: #577DBB;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.2rem;
}

.productContainer img {
    height: 15rem;
}

.productContainer h2 {
    padding-bottom: 1.0rem;
    font-weight: 600;
    font-size: 3.4rem;
}

.price p {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: -0.06rem;
}

button {
    background-color: #dc4a4a;
    color: white;
    border: none;
    padding: 16px 30px;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 12px;
}

.productContainer i {
   padding-right: 1rem;
   font-size: 1.45rem;
}

    
/* FOOTER CSS */

footer {
    width: 100%;
    height: 13rem;
    background-color: black;
    color:white;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    font-family: Helvetica, sans-serif;
}

footer h3 {
    padding: 0.5rem;
}

footer input {
    padding: 0.2rem 1rem;
    margin-top: 0.5rem;
}

footer button {
    padding: 0.2rem 1rem;
    background-color: white;
    margin-top: 0.5rem;
}
