* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Helvetica, sans-serif;
}

/*HEADER STUFF */

header {
    width: 100%;
    height: 5rem;
    background-color: #212121;
    color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;  /* Kolla om vi kan hitta en mer matchie font */
}

header h1 {
    
    font-size: 2.5rem;
}

header a:visited {
    color: white;
}

header a {
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    padding-left: 2rem;
    padding-right: 4rem;
    font-size: 2.5rem;
}

.logo p {
    font-size: 1.6rem;
    display: none;
}

.headerIcons {
    display: flex;
    align-items: center;
    padding-right: 2rem;
    font-size: 2.5rem;
}

.headerIcons p {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* MAIN CSS */

main {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5rem;

}

button {
    background-color: #6397ED;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 10px;
}

button:hover {
    background-color: #5988d4;
    transition: 0.2s;
    cursor: pointer;
}

.purchaseMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    color: #363636;
}

.purchaseMessage h2 {
    font-size: 5rem;
}

.purchaseMessage p {
    padding-top: 2rem;
    font-size: 2rem;
}

.purchaseMessage button {
    margin: 2rem;
}


@media (max-width: 600px) {

        /* HÄR ÄR HEADER */
        
        header {
            height: 4rem;
        }
        
        .logo h1 {
            padding-left: 1rem;
            padding-right: 2rem;
            font-size: 1.9rem;
        }
    
    .headerIcons {
            font-size: 1.6em;
        }
    
    .headerIcons p {
            padding-right: 0.4rem;
            padding-left: 1.7rem;
            font-size: 2rem;
        }
    .purchaseMessage h2 {
    font-size: 3rem;
}

    }