/* Basic CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Helvetica, sans-serif;
}

/* HEADER */

header {
    width: 100%;
    height: 5rem;
    background-color: #212121;
    color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;
    z-index: 999;
}

header h1 {
    font-size: 2.5rem;
}

header a:visited {
    color: white;
}

header a {
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    padding-left: 2rem;
    padding-right: 4rem;
    font-size: 2.5rem;
}

.logo p {
    font-size: 1.6rem;
    display: none;
}

.headerIcons {
    display: flex;
    align-items: center;
    padding-right: 2rem;
    font-size: 2.5rem;
}

.headerIcons p {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* MAIN CSS */

main {
    position: relative;
    top: 4rem;
}

/* Wrap every contentbox seperately. */
.product_container {
    width: 100%;
    height: 100vh;
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product_container:nth-child(odd) {
    background-color: rgb(246, 246, 246);
}

.product_container h2 {
    padding-top: 0rem;
    padding-bottom: 0.7rem;
    font-weight: 600;
    font-size: 3.1rem;
}

.product_container p {
    font-weight: 700;
    font-size: 1.2rem;
    padding-bottom: 0.6rem;
}

.product_container img {
    height: 55%;
}

 /* Price for each product. */
 .price p {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.06rem;
    padding-bottom: 1.7rem;
    padding-top: 1rem;
}

/* Add to cart-button.*/
button {
    background-color: #6397ED;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 10px;
}

button:hover {
    background-color: #5988d4;
    transition: 0.2s;
    cursor: pointer;
}

.product_container i {
    padding-right: 1rem;
    font-size: 1.45rem;
 }

/* Media-settings to make page responsive. */

    @media (max-width: 700px) {

        /* HEADER */
        
        header {
            height: 4rem;
        }
        
        .logo h1 {
            padding-left: 1rem;
            padding-right: 2rem;
            font-size: 1.9rem;
        }
    
        .headerIcons {
            font-size: 1.6em;
        }
    
        .headerIcons p {
            padding-right: 0.4rem;
            padding-left: 1.7rem;
            font-size: 2rem;
        }

        /* MAIN */

        .product_container {
            padding: 4rem 3rem 5rem 3rem;
        }

        .product_container h2 {
            font-size: 2.4rem;
        }
    
        .product_container p {
            font-size: 0.65rem;
        }

        button {
            padding: 10px 16px;
            font-size: 1rem;
            border-radius: 7px;
        }

        .product_container i {
            padding-right: 0.5rem;
            font-size: 0.8rem;
        }
    
        .price p {
            font-size: 1rem;
        }
}

