* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Helvetica, sans-serif;
}

/*HEADER STUFF */

header {
    width: 100%;
    height: 5rem;
    background-color: #212121;
    color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;  /* Kolla om vi kan hitta en mer matchie font */
}

header h1 {
    padding-top: 1.25rem;
    padding-left: 2rem;
    font-size: 2.5rem;
}

header a:visited {
    color: white;
}

header a {
    text-decoration: none;
}

.rightContent {
    display: flex;
    padding-top: 1.25rem;
    padding-right: 2rem;
    font-size: 2.5rem;
}

.rightContent p {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* MAIN CSS */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.product_container {
    width: 100%;
    height: 100vh;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product_container:nth-child(odd) {
    background-color: rgb(246, 246, 246);
}

.product_container img {
    justify-content: center;
    height: 30rem;
}
.product_container h2 {
    padding-top: 4.5rem;
    padding-bottom: 1.0rem;
    font-weight: 600;
    font-size: 3.4rem;
}

.product_container p {
    font-weight: 800;
    font-size: 1.0rem;
    padding-bottom: 1.2rem;

}

.product_container i {
    padding-right: 1rem;
    font-size: 1.45rem;
 }

.price p {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: -0.06rem;
}

button {
    background-color: #6397ED;
    color: white;
    border: none;
    padding: 16px 30px;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 12px;
}

    
/* FOOTER CSS */

footer {
    width: 100%;
    height: 13rem;
    background-color: black;
    color:white;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    font-family: Helvetica, sans-serif;
}

footer h3 {
    padding: 0.5rem;
}

footer input {
    padding: 0.2rem 1rem;
    margin-top: 0.5rem;
}

footer button {
    padding: 0.2rem 1rem;
    background-color: white;
    margin-top: 0.5rem;
}


.purchaseMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    color: #363636;
}

.purchaseMessage h2 {
    font-size: 5rem;
}

.purchaseMessage p {
    padding-top: 2rem;
    font-size: 2rem;
}

.purchaseMessage button {
    margin: 2rem;
}


@media (max-width: 400px)
{
    header h1 {
        font-size: 1.7rem;
    }

    .rightContent {
        font-size: 1.7rem;
    }

    .product_container img {
        height: 25rem;
    }
    .product_container h2 {
        padding-top: 5rem;
        font-size: 2.4rem;
    }
    
    .product_container p {
        font-size: 0.5rem;
    }
    
    button {
        background-color: #6397ED;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 1.0rem;
        font-weight: 400;
        border-radius: 12px;
    }

    .product_container i {
        padding-right: 1rem;
        font-size: 1rem;
     }
    
    .price p {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: -0.06rem;
    }
}

