* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Helvetica, sans-serif;
}

/*HEADER STUFF */

header {
    width: 100%;
    height: 5rem;
    background-color: #212121;
    color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;  /* Kolla om vi kan hitta en mer matchie font */
    z-index: 999;
}

header h1 {
    padding-top: 1.25rem;
    padding-left: 2rem;
    font-size: 2.5rem;
}

header a:visited {
    color: white;
}

header a {
    text-decoration: none;
}

.rightContent {
    display: flex;
    padding-top: 1.25rem;
    padding-right: 2rem;
    font-size: 2.5rem;
}

.rightContent p {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* MAIN CSS */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4rem;

}

.product_container {
    width: 100%;
    height: 100vh;
   /* margin: 8rem;  /*- ordna denna. ev lägga som en media med viss bredd*/
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product_container:nth-child(odd) {
    background-color: rgb(246, 246, 246);
}

.product_container img {
    justify-content: center;
    height: 55%;
}
.product_container h2 {
    padding-top: 0rem;
    padding-bottom: 0.7rem;
    font-weight: 600;
    font-size: 3.1rem;
}

.product_container p {
    font-weight: 700;
    font-size: 1.2rem;
    padding-bottom: 0.6rem;

}

.product_container i {
    padding-right: 1rem;
    font-size: 1.45rem;
 }

.price p {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.06rem;
    padding-bottom: 1.7rem;
}

button {
    /*background-color: rgb(99, 145, 237);*/
    background-color: #6397ED;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 10px;
}


/*
.purchaseMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    color: #363636;
}

.purchaseMessage h2 {
    font-size: 5rem;
}

.purchaseMessage p {
    padding-top: 2rem;
    font-size: 2rem;
}

.purchaseMessage button {
    margin: 2rem;
}*/


@media (max-width: 480px)
{
    header h1 {
        font-size: 1.7rem;
    }

    .product_container {
        padding: 4rem 3rem 5rem 3rem;
    }

    /*.product_container img {
        height: 20rem;
    }*/
    .product_container h2 {
        padding-top: 0rem;
        font-size: 2.4rem;
    }
    
    .product_container p {
        font-size: 0.65rem;
    }
   
    
    button {
        background-color: #5d93ea;
        color: white;
        border: none;
        padding: 10px 16px;
        font-size: 1rem;
        font-weight: 400;
        border-radius: 7px;
    }

    .product_container i {
        padding-right: 0.5rem;
        font-size: 0.8rem;
     }
    
    .price p {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: -0.06rem;
    }
}

